/* Empty. Add your own CSS if you like */
.thisapp-tabs-color-active-positive{
  background-color: #3c3c3c;
  color:red;
}
.event-list{
  overflow: scroll;
  overflow-x: hidden;
}
.redteam-select{
  background-color:red;
  border:2px solid yellow;
}
.blueteam-select{
  background-color:blue;
}
